body{
    font-family: Helvetica, "Helvetica Neue", SansSerif;

}
#wrapper{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    background-color: beige;
    height: 686px;
}
#logo{
    .grBig;
    height: 130px;
    background-color: white;
}
#menu{
    background-color: white;
    .grSmall;
    height: 130px;
    .center-text;
    line-height: 130px


}
#menu ul{
    .margin-fix;

}
#menu ul a{
    .decoration-fix;
}
#menu li{
    display: inline;


}
#banner{
    .clear-fix;
    width: 960px;
    height: 554px;
    background-image: url("../images/4x4-adventure-automobile-1571783.jpg");

}
#learn-more {
    width: 480px;
    background-color: black;
    opacity: 10%;
    height: 554px;
    margin: 0px;

}
#paragraph{
    float: right;
}
#content{
    background-color: white;
    padding-bottom: 100px;
}


#learn-more h1{
    color: white;
    padding-top: 100px;
    padding-left: 30px;
}
#learn-more h2 a{
    color: blue;
    padding-left: 320px;
    .decoration-fix;
}
#image-box{
    .grSmall;


}
#footer{
    background-color: black;
    height: 130px;
    color: white;
    .center-text;
    .clear-fix;
    line-height: 130px;

}
p{
    padding-left: 25px;
}

.clear-fix{
    clear: both;
}
.float-left{
    float: left;
}
.center-text{
    text-align: center;
}
.margin-fix{
    margin:0px;

}
.decoration-fix{
    text-decoration: none;
}
.grBig{
    width: 593px;
}
.grSmall{
    width: 367px;

}
.border-fix{
    border: 1px solid black;
}
.margin-auto{
    margin: auto;
}
